[submodule "apps/api"]
	path = apps/api
	url = https://github.com/chrislaai/medusa-api-template.git
	branch = prod
[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/chrislaai/medusa-admin-template.git
	branch = prod
